.carousel-indicators li{
      display:inline-block;
	  width:14px;
	  height:11px;
	  margin:10px;
	  text-indent:0;
	  cursor:pointer;
	  border:none;
	  border-radius:50%;
	  background-color:grey;
	  box-shadow:inset 1px 1px 1px
	        1px rgba(0,0,0,0.5);
  }
  
  .carousel-indicators .active{
      width:14px;
	  height:11px;
	  margin:10px;
	  background-color:#000000
  }